<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
		link(href="https://fonts.googleapis.com/css?family=Baloo+Tammudu|Ultra", rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Cinzel:900", rel="stylesheet")
		title DesignShaker
	body

		.home-menu.nav.nav-hide
			.home-menu__about o akci
			.home-menu__big-deal big deal
			.home-menu__fresh fresh select
			.home-menu__office field office
			.home-menu__exhibitor pro vystavovatele
			.home-menu__contact kontakt
			.home-menu__socials
				span.fa.fa-twitter
				span.fa.fa-facebook
			.home-menu__buttons

		section.home-block.blocks
			.home-wrap
				.home-block__title.home-block__title-black design<br>shaker<br>2015
				img(src=require('./images/block1-it.jpg'), alt="it", class="it-img")
				.home-block__title.home-block__title-yellow design<br>shaker<br>2015
				img(src=require('./images/shair.png'), alt="shair", class="shair-img")
				.home-block__title.home-block__title-blue design<br>shaker<br>2015
				include components/down-button.pug
				.home-block-info 19. - 22.3.<br>pva expo praha<br>Letňany
			include components/menu--button.pug

		section.about-block.blocks
			.about-block-wrap
				.about-block-wrap__left
					img(src=require('./images/it-2.jpg'), alt="it", class="about-block-wrap__left__img")
					h2.about-block-wrap__left__block-title o akci
					.about-block-wrap__left__title design<br>shaker<br>2015
				.about-block-wrap__right
					.about-block-wrap__right__text Design Shaker je prodejní přehlídka českého i zahraničního interiérového designu, nábytku a doplňků, která propojuje designéry, výrobce a jejich zákazníky. Stejně jako v minulých letech probíhá v rámci jarních veletrhů For Habitat, For Furniture, For Office a For Garden, které jsou největší akcí svého druhu v České republice a každoročně se jich zúčastní desítky tisíc návštěvníků.
					include components/more-arrow.pug
				include components/down-button.pug
				include components/menu--button.pug

		section.this-year.blocks
			.this-year-block
				h2.this-year-block__title letos trochu jinak
				.this-year-block__main
					.what-this-year.big-deal
						h3.detail-title big deal
						span Sekce Big Deal představí výběr etablovaných českých výrobců i distributorů nejznámějších zahraničních značek. Přijďte vyzkoušet nábytek a doplňky prověřené kvality. Zalíbí-li se vám, můžete si je pořídit domů.
						include components/more-arrow.pug
					.what-this-year.fresh
						h3.detail-title fresh space
						span Kromě velkých firem a výrobců se letos na Design Shakeru objeví i mladá generace designérů, kteří ještě studují, nebo čerstvě tvoří pod vlastními značkami. Najdete zde design, který se za pár let možná stane sběratelským unikátem. Většina svěžích kousků bude na místě k mání.
						include components/more-arrow.pug
					.what-this-year.office
						h3.detail-title field office
						span Užší kontakt s designéry interiérů a architekty zajistí sekce Field office. Zde najdete zajímavé návrhy interiérů i jejich skutečné realizace. Inspirujte se a vyberte si kdo bude navrhovat interiér vám.
						include components/more-arrow.pug
					.clear-fix
				include components/menu--button.pug
			include components/down-button.pug
				
		section.why.blocks
			img(src=require('./images/shairs.png'), alt="shairs", class="why__img")
			.why-block
				h2.why-block__title proč vystavovat
				span Design by si měl především najít cestu ke svým zákazníkům a to je také hlavním cílem Design Shakeru, který představuje to nejlepší z českého i zahraničního interiérového designu široké veřejnosti. Jak tohoto cíle chceme dosáhnout?
				include components/more-button-1.pug
			include components/down-button.pug
			include components/menu--button.pug

		section.date.blocks
			img(src=require('./images/glasses.png'), alt="glasses", class="date__img")
			.date-block
				.date-block__title save<br>the<br>date
				.date-block__date 19. - 22.3.<br>2015
				.date-block__place pva praha letňany
				include components/more-button-2.pug
			include components/menu--button.pug
			include components/down-button.pug

		section.contacts.blocks
			.contacts-block
				h2.contacts-block__title kontakt
				.contacts-block__contacts
					.contacts-block__contacts-c1.vcard
						include components/daniela.pug
					.contacts-block__contacts-c2.vcard
						include components/petr.pug
					.contacts-block__contacts-c3.vcard
						include components/jakub.pug
					.contacts-block__contacts-c4.vcard
						include components/tereza.pug
					.clear-fix
					hr
				.contacts-block__place-and-subscribe
					.contacts-block__place
						h3.contacts-block__place--place Výstaviště PVA EXPO Praha Letňany
						.contacts-block__place--adress Beranových 667
						.contacts-block__place--town 199 00 Praha 9
					.contacts-block__subscribe
						span sledujte nás
						.arrow
						.fa.fa-twitter
						.fa.fa-facebook
			img(src=require('./images/map.jpg'), alt="")
			.clear-fix
			.contacts-block__copyright