<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title DesignShaker
	body

		section.home-block.blocks
			.home-wrap
				.home-block__title.home-block__title-black design<br>shaker<br>2015
				img(src=require('./images/block1-it.jpg'), alt="it", class="it-img")
				.home-block__title.home-block__title-yellow design<br>shaker<br>2015
				img(src=require('./images/shair.png'), alt="shair", class="shair-img")
				.home-block__title.home-block__title-blue design<br>shaker<br>2015
				img(src=require('./images/down.png'), alt="down", class="button-slide-down")
				.home-block-info 19. - 22.3.<br>pva expo praha<br>Letňany

		section.about-block.blocks
			.about-block-wrap
				.about-block-wrap__left
					img(src=require('./images/it-2.jpg'), alt="down", class="about-block-wrap__left__img")
					h2.about-block-wrap__left__block-title o akci
					.about-block-wrap__left__title design<br>shaker<br>2015
				.about-block-wrap__right
					.about-block-wrap__right__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias quibusdam corrupti, dignissimos aspernatur laudantium placeat adipisci tenetur delectus sunt voluptas omnis minima, ratione nisi repudiandae voluptatibus suscipit obcaecati nam aliquam!Ratione, cupiditate minus? Sapiente incidunt placeat cupiditate exercitationem consequuntur autem quod eaque ab laudantium repudiandae! Illum quos dignissimos totam. Tenetur fuga et animi quam quae pariatur ducimus incidunt magni harum.
					.about-block-wrap__right__more
						| VÍCE
						.about-block-wrap__right__more__arrow
				img(src=require('./images/down.png'), alt="down", class="button-slide-down")

		section.this-year.blocks
			.this-year-block
				h2.this-year-block__title letos trochu jinak
				.this-year-block__main
					.what-this-year
					.what-this-year
					.what-this-year

		section.blocks
			.container 2

		section.blocks
			.container 2

		section.blocks
			.container 2